{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<title>Quiz Application</title>
	<link rel = "stylesheet" href = "{% static 'css/quiz.css' %}">
	<script src = "{% static 'js/quiz.js' %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<script type="text/javascript">
	
$(document).ready(function(){
  var step = 1;
  $('#btn').click(function(){
    if( step < 5 )
    {
      $('.txt').eq(step - 1).hide();
      $('.txt').eq(step).show();
      step++;
    }
    else
    { /*Submit the form here*/ }
  });
});

</script>
<body>

 <div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>MCQ Quiz</h4><span></span>
                    </div>
                      <div id = "results"></div>
                </div>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">             
			<form name = "quizForm" method="GET" onsubmit = "return submitAnswers(answers = [{% for q in questions %}'{{ q.answer }}',{% endfor %}])">
			{% for q in questions %}
				<h5 class="mt-1 ml-2"><h5 class="text-danger">Q.</h5> {{ q.id }}.  {{ q.question }}</h5>
				     <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name = "q{{ q.id }}" value = "a" id="q1a"> <span>a. {{ q.option1 }}</span>
                        </label>
                    </div>
                      <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name = "q{{ q.id }}" value = "b" id = "q1b"> <span>b. {{ q.option2 }}</span>
                        </label>
                    </div>
                     <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name = "q{{ q.id }}" value = "c" id = "q1c"> <span>c. {{ q.option3 }}</span>
                        </label>
                    </div>
                      <div class="ans ml-2">
                        <label class="radio"> <input type = "radio" name = "q{{ q.id }}" value = "d" id = "q1d"> <span>d. {{ q.option4 }}</span>
                        </label>
                    </div>

			
			{% endfor %}
				                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><input class="btn btn-primary border-success align-items-center btn-success"  type = "submit" value = "Next"><i class="fa fa-angle-right ml-2"></i></div>
			</form>
              
            </div>
        </div>
    </div>
</div>
</body>
</html>